@model DauGia.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Content/js/jquery -validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $('#login-from').validate({
            rules: {//luật
                TenDN: 'required',
                MK: 'required',
            },
            messages:{// thông báo
                    TenDN: 'Chưa nhập tên đăng nhập.',
                    MK: 'Chưa nhập mật khẩu.',
            },
            errorElenment: 'span',
            errorClass:'help-block',
            highlight: function (element) {// hiển thị nâng cao thêm class sau form-group has-error
                $(element)
                .closest('.form-group').addClass('has-error');
            },
            success:function(lable)
            {
                lable.closest('.form-group').removeClass('has-error');
                //lable.remove();
            },
        });
    </script>

}
@if (ViewBag.Err != null)
{
    <div class="alert alert-warning alert-dismissible @if(ViewBag.Err != null){<text> text-danger</text>}" style="padding-left:100px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>Lỗi !</strong>@ViewBag.Err
    </div>
}
<form class="form-horizontal" method="post" action="" id="login-from">
    <div class="form-group">
        <label class="col-sm-3 control-label">Tên đăng nhập</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="TenDN" name="TenDN" placeholder="Tên đăng nhập" value=@ViewBag.TenDangNhap>
        </div>
        <div></div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Mật Khẩu</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="MK" placeholder="Mật Khẩu" name="MK">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-3">
            @Html.CheckBoxFor(m => m.Remember)Ghi nhớ
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-success" id="btndangnhap">
                <i class="fa fa-check"></i> Đăng Nhập
            </button>
        </div>
    </div>
</form>
<div class="row" style="padding-top:100px"></div>

